# Telegram bot token (BotFather'dan)
BOT_TOKEN=8712600970:AAFFXIwrY1Rg_sVj4GrxXkMaqgEFSh0-J38

# Asosiy admin Telegram user ID
ADMIN_ID=8135915671

# Web app URL (Vercel'da deploy qilgandan keyin yangilash)
WEBAPP_URL=https://tezkor-star.vercel.app

# Database path (Railway Volume bilan)
DB_PATH=/data/bot.db

# API server port (Railway o'zi qo'yadi)
PORT=8000
